codeclashplatform.duckdns.org {
    handle /api/* {
        reverse_proxy api:8080 {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle {
        reverse_proxy frontend:80
    }

    encode gzip
    log {
        output file /data/access.log
    }
}

